.eunit
.DS_Store
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
.erlang.mk/
*.d
logs/
ct.coverdata
test/ct.cover.spec
cover/
eunit.coverdata
_build/
rebar.lock
rebar3.crashdump
data/