services:
  erlang:
    container_name: erlang
    image: erlang:27
    volumes:
      - ./:/influxdb_client_erl
      - /tmp/emqx-ci/emqx-shared-secret:/var/lib/secret
    working_dir: /influxdb_client_erl
    depends_on:
      - influxdb_tcp
      - influxdb_tcp_v3
    tty: true

  influxdb_tcp:
    container_name: influxdb_tcp
    image: influxdb:${INFLUXDB_TAG}
    expose:
      - "8086"
      - "8089/udp"
      - "8083"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: root
      DOCKER_INFLUXDB_INIT_PASSWORD: emqx@123
      DOCKER_INFLUXDB_INIT_ORG: emqx
      DOCKER_INFLUXDB_INIT_BUCKET: mqtt
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: abcdefg
    volumes:
      - "./docker-compose-file/setup-v1.sh:/docker-entrypoint-initdb.d/setup-v1.sh"
    restart: always

  influxdb_tcp_v3:
    container_name: influxdb_tcp_v3
    build:
      context: ./test/docker
      dockerfile: ./influxdb/v3.Dockerfile
      args:
        DOCKER_USER: "${DOCKER_USER:-root}"
    restart: always
    volumes:
      - /tmp/emqx-ci/emqx-shared-secret:/var/lib/secret
      - ./test/docker/influxdb/setup-v3.sh:/tmp/setup-v3.sh
    environment:
      MODE: tcp
    command:
      - /tmp/setup-v3.sh
      - >-
          influxdb3
          serve
          --admin-token-file /var/lib/secret_container/influxv3.json
          --data-dir=/var/lib/influxdb3/data
          --node-id=node0
